<%- partial('_partial/head') %>
    <body>
        <%- body %>
        <%- js('https://code.jquery.com/jquery-3.1.1.min.js') %>
        <%- js('semantic.min.js') %>
        <%- js('helpers.js') %>
        <%- js('script.js') %>
    </body>
</html>
