<div class="ui vertical inverted sidebar menu">
    <a class="item" href="<%- url_for() %>">Startseite</a>
    <% if (is_current('1')) { %>
    <a class="active item" href="<%- url_for('1') %>">Einrichtung</a>
    <% } else { %>
    <a class="item" href="<%- url_for('1') %>">Einrichtung</a>
    <% } %>
    <% if (is_current('2')) { %>
    <a class="active item" href="<%- url_for('2') %>">Shader</a>
    <% } else { %>
    <a class="item" href="<%- url_for('2') %>">Shader</a>
    <% } %>
    <% if (is_current('3')) { %>
    <a class="active item" href="<%- url_for('3') %>">Transformationen</a>
    <% } else { %>
    <a class="item" href="<%- url_for('3') %>">Transformationen</a>
    <% } %>
    <% if (is_current('4')) { %>
    <a class="active item" href="<%- url_for('4') %>">Szenegraph</a>
    <% } else { %>
    <a class="item" href="<%- url_for('4') %>">Szenegraph</a>
    <% } %>
</div>

<div class="pusher">
    <div class="ui vertical post segment">
        <div class="ui container">
            <div class="ui secondary pointing menu">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a class="header item" href="<%- url_for() %>">WebGL Tutorial</a>
                <div class="right menu">
                    <% if (is_current('1')) { %>
                    <a class="active item" href="<%- url_for('1') %>">Einrichtung</a>
                    <% } else { %>
                    <a class="item" href="<%- url_for('1') %>">Einrichtung</a>
                    <% } %>
                    <% if (is_current('2')) { %>
                    <a class="active item" href="<%- url_for('2') %>">Shader</a>
                    <% } else { %>
                    <a class="item" href="<%- url_for('2') %>">Shader</a>
                    <% } %>
                    <% if (is_current('3')) { %>
                    <a class="active item" href="<%- url_for('3') %>">Transformationen</a>
                    <% } else { %>
                    <a class="item" href="<%- url_for('3') %>">Transformationen</a>
                    <% } %>
                    <% if (is_current('4')) { %>
                    <a class="active item" href="<%- url_for('4') %>">Szenegraph</a>
                    <% } else { %>
                    <a class="item" href="<%- url_for('4') %>">Szenegraph</a>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui header"><%- page.title %></h1>
            <%- page.content %>
        </div>
    </div>
</div>
